/* App design */
html{
    /* height: 100%; */
}

body{
    background-color: rgb(240, 240, 240);
    height: 100vh;
}


/* Header design */
.header{
    background-color: #019AA5;
    text-align: center;
    height: 80px
}

.title-header{
    padding-top: 1%;
    color: azure;
}

/* Graphs design */
.mainContainer{
    padding-top: 1%;
    width: 100%;
    float: left;
    /* padding-bottom: 1%; */
}

.subContainer{
    width: 33.3%;
    float: left;
}

.iframeStyle{
    border: 1px solid #cccccc;
}

.sensor-heading{
    text-align: center;
    font-weight: bolder;
}

/* Table Design */
.heading{
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

