/* App design */

body{
    background-color: #022140;
    height: 100vh;
    box-sizing: border-box;
}

/* Header design */
.header{
    text-align: center;
    margin-bottom: 10%;
}

.title-header{
    padding-top: 2%;
    color: white;
}

.readings{
    text-align: left;
    font-size: 1em;
    font-weight: lighter;
}

.reading-error{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.2em;
    color: red;
}

.reading-warning{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(255, 94, 0);
}

.reading-green{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.2em;
    color: green;
}

.readings-section{
    width: 100%;
    height: 50px;
    margin-top: 2%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.readings-header{
    width: 30%;
    float: left;
    padding: 1%;
    background-color: #0b2a47;
    color: white;
    border-radius: 10px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Graphs design */
.mainContainer{
    width: 100%;
    margin-left: 2%;
}

.subContainer{
    background-color: #0b2a47;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-bottom: 1%;
    padding: 4%;
    width: 100%;
    float: left;
}

.iframeStyle{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #265077;
}

.sensor-heading{
    text-align: center;
    font-weight: bolder;
}

/* Table Design */
.heading{
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.table-section{
    color: white;
    width: 95%;
    margin: 0 auto;
    padding: 1%;
    border-radius: 10px;
    background-color: #0b2a47;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main{
    width: 100%;
    margin-top: 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.main-table{
    width: 70%;
}

.main-graphs{
    width: 30%;
}
